

.video_container {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        height: 100%;
}

.video_card {
    margin: auto;
    
}

.media_container {
    display: grid;
        gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 3fr));
        height: 100%;
}

.media_card {
    margin: auto;
}

.card {
    width: 100%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: auto;
}

.poster {
    width: 80%;
    margin: auto;

}

.jumbotron {
    width: 90%;
    margin: auto;
}

.alert {
    width: 90%;
    margin: auto;
}